[init]
        defaultBranch = main
[user]
        email = legendsoccerforte5@gmail.com
        name = Katsuking
[diff]
	tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[safe]
        directory = /opt/lampp/htdocs/php_dir
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
# [remote "origin"]
	# url = git@github.com:Katsuking/javascriptProjects.git
[core]
	ignorecase = false
	editor = code --wait
[alias]
	f = fetch origin
	cp = cherry-pick
	dt = difftool
	dn = diff --name-only
	vv = branch -vv
        s = status
	st = stash
	stp = stash push -m
	stl = stash list
        ss = status -s
        a = add
        aa = add -A
        au = add -u
        co = checkout
        c = commit -m
        b = branch
        l = log
        m = merge
        p = push origin
        e = config --global --edit
        d = diff
        dc = diff --cached # local repo とstaging の比較
        dh = diff HEAD # local repo とworking dirの比較
        sp = stash pop
        sl = stash list
        ls = ls-files
        # stagingからもlocal repoからも削除する場合は、git rm でOK
        rmc = rm --cached # staging上に間違えてaddしたファイルの削除
	ylog = "!f() { git log --no-merges --since='$(date -d "1 day ago" "+%Y/%m/%d 00:00:00")' --until='$(date -d "1 day ago" "+%Y/%m/%d 23:59:59")' --date=iso --pretty=format:'%H %cd %cn %d %s'; };f" # 昨日ログを確認する
	tlog = "!f() { git log --no-merges --since='$(date "+%Y/%m/%d 00:00:00")' --until='$(date "+%Y/%m/%d 23:59:59")' --date=iso --pretty=format:'%H %cd %cn %d %s'; };f" # 今日ログを確認する
	rtag = ls-remote --tags # remoteにあるタグを確認する
	conf = !git ls-files -u | cut -f 2 | sort -u # コンフリクトが発生しているファイルを表示
[pager]
        branch = false
[core]
symlinks = false
autocrlf = false # 改行文字を自動で変換することを防ぐ
fscache = true # キャッシュして、速度を上げる
quotepath = false # 非ASCII文字をエスケープしない


