[user]
	email = legendsoccerforte5@gmail.com
	name = Katsuking
[safe]
	directory = /opt/lampp/htdocs/php_dir
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    	s = status
    	ss = status -s
	a = add
	aa = add -A
    	co = checkout
	c = commit -m
	b = branch
	l = log
